body{
    display: block;
    background-color: black;
}

h1{
    margin: 0;
    color: #ff00f4;
}

#controls{
    border: 5px dashed #ff00f4;
    padding: 20px;
    float:left;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    color: #00ecff;
}

#controls a{
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
}



#cnvs-container{
    float:left;
}

#cnvs-container :only-child{
    border: 5px solid #00ecff;
}